.card-container {
    /*border: 1px solid #000;*/
    margin: 10px;
    border-radius: 1px;
    background-color: #FFF;
    transition: 300ms ease;
    box-shadow: 0px 0px 10px rgba(33, 33, 33, 0.05);

}

.card-container:hover,
.card-container:focus-within {
    box-shadow: 5px 5px 11px rgba(33, 33, 33, 0.2);
}

.card-title-container {
    text-align: left;
    /*background: linear-gradient(155deg, #5a61ced6 40%, rgb(152, 126, 164) 100%);*/
    background-color: #004c08;
    padding: 10px;
    border-bottom: 3px solid #FFF;
    color: #FFF;
    width: 100%;
    border-top-right-radius: inherit;
    border-top-left-radius: inherit;
    -webkit-box-shadow:0px 2px 15px rgba(158, 158, 158, 0.51);
    -moz-box-shadow:0px 2px 15px rgba(158, 158, 158, 0.51);
    box-shadow:0px 2px 15px rgba(158, 158, 158, 0.51);
    display: inline-flex;
}
.card_modification_form {
    width: 100%;
    display: inline-flex;
}

.card_buttons {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
}

.card-title-container .card_modification_form button.start_card_changes,
.card-title-container .card_modification_form .card_buttons button.delete_card {
    color: rgba(255, 255, 255, 0);
    height: fit-content;
    vertical-align: middle;
    transition: 500ms ease 100ms;
    border: none;
    background: none;
    font-size: 15px;
}

.card-title-container .card_modification_form button.start_card_changes {
    vertical-align: top;
    transition: 500ms ease 0ms;
}

.card-title-container:hover .card_modification_form button.start_card_changes,
.card-title-container:hover .card_modification_form .card_buttons button.delete_card {
    color: rgba(255, 255, 255, 0.2);
}

.card-title-container:hover .card_modification_form .card_buttons button.delete_card {
    transition: 500ms ease 400ms;
}

.card-title-container:hover .card_modification_form button.start_card_changes:hover,
.card-title-container:hover .card_modification_form .card_buttons button.start_card_changes:focus {
    color: rgba(255, 255, 255, 0.8);
    transition: 300ms;
    outline: 0;
}

.card-title-container:hover .card_modification_form button.delete_card:hover,
.card-title-container:hover .card_modification_form .card_buttons button.delete_card:focus {
    color: rgb(255, 124, 124);
    transition: 300ms;
    outline: 0;
}

.card-title {
    background-color: transparent;
    padding: 0;
    border: 0;
    border-bottom: 1px solid transparent;
    outline: 0;
    font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 300;
    width: 100%;
    transition: 200ms ease;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #FFF;
    margin: 0;
}

/*.card-title:focus {*/
    /*border-bottom: 1px solid white;*/
/*}*/

.card-content,
.card-content.new_card {
    padding: 5px 5px;
    height: fit-content;
    opacity: 1;
}

.new_card_form.compressed .card-content.new_card {
    height: 0;
    opacity: 0;
    padding: 0;
}


.card-description {
    overflow-wrap: break-word;
    word-break: break-word;
    /*border-bottom: 1px solid #247741;*/
    font-weight: 300;
    padding: 5px 0px;
}

.card-info {
    display: inline-flex;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.05);
    padding: 5px;
    border-radius: 3px;
}

.expire-date,
.story-points {
    margin-bottom: 0;
    /*noinspection CssInvalidPropertyValue*/
    width: 100%;
    text-transform: capitalize;
    font-weight: 500;
}

.date_info {
    display: block;
    justify-content: end;
    text-align: end;
}

.expire-date span,
.story-points span {
    font-weight: 300;
    /*margin-left: 5px;*/
}

.story-points {
    justify-self: end;
    width: 100%;
    text-align: end;
    height: fit-content;
    margin: auto 0;
}

.card_name_form {
    display: inline-flex;
}

.card_name_form.hide_submit-card-button button.submit_changes {
    width: 0;
    padding: 0;
    border: 0;
    margin: 0;
    visibility: hidden;
    opacity: 0;
    transition: visibility 300ms ease, opacity 300ms ease, width 300ms ease,
                padding 300ms ease, border 300ms ease, margin 300ms ease;
}

.card_name_form button.submit_changes,
.card_name_form button.delete_card,
.card_name_form button.modify_card,
.new_card_submit_button {
    visibility: visible;
    opacity: 1;
    padding: 2px 5px;
    background-color: rgba(114, 114, 114, 0.1);
    font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
    border-radius: 3px;
    margin: 0 0 0 10px;
    transition: visibility 0ms ease, opacity 300ms ease, width 300ms ease,
                padding 300ms ease, border 300ms ease, margin 300ms ease,
                background-color 200ms ease, color 200ms ease;
    width: 30%;
    overflow: hidden;
    font-size: 10px;
}

.card_name_form.hide_modify-card-button button.modify_card {
    width: 0;
    padding: 0;
    border: 0;
    margin: 0;
    visibility: hidden;
    opacity: 0;
    transition: visibility 300ms ease, opacity 300ms ease, width 300ms ease,
                padding 300ms ease, border 300ms ease, margin 300ms ease;
}

.card_name_form button.submit_changes {
    color: #47ae4e;
    border: 1px solid #47ae4e;
}

.card_name_form button.submit_changes:hover {
    background-color: rgba(71, 174, 78, 0.7);
    color: #FFF;
}

.card_name_form button.delete_card {
    border: 1px solid #ff706b;
    color: #ff706b;
}

.card_name_form button.delete_card:hover {
    background-color: rgba(255, 112, 107, 0.7);
    color: #FFF;
}

.card_name_form button.modify_card {
    border: 1px solid rgba(204, 204, 204, 0.7);
    color: #FFF;
}

.card_name_form button.modify_card:hover {
    color: rgba(34, 34, 34, .85);
    background-color: rgba(255, 255, 255, 0.8);
}

.card_name_form.hide_delete-card-button button.delete_card {
    width: 0;
    padding: 0;
    border: 0;
    margin: 0;
    visibility: hidden;
    opacity: 0;
    transition: visibility 300ms ease, opacity 300ms ease, width 300ms ease,
                padding 300ms ease, border 100ms ease, margin 100ms ease;
}

.card_name_form:focus button {
    display: inline-flex;
}


/* new card form*/

.new_card_form {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

.new_card_form .card-title-container {
    background: #4c005d;
}

.card-title.new_card::placeholder {
    color: rgba(255, 250, 241, 0.61);
    font-weight: 400;
}

.new_card_description_input {
    font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
    width: 100%;
    height: 40px;
    min-height: 40px;
    max-height: 200px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    font-size: 1rem;
    border-radius: 2px;
    font-weight: 300;
    color: #252525;
    transition: height 300ms ease;
    padding: 5px;
    letter-spacing: .04rem;
    background-color: rgba(255, 255, 255, 0);
}

.new_card_description_input:focus {
    height: 100px;
    outline: none;
}


.card-content.new_card {
    display: grid;
    transition: 300ms ease;
}

.new_card_expire_date_input,
.new_card_story_points_input {
    margin-top: 5px;
    background: transparent;
    border: 0;
    border-bottom: 1px solid rgba(85, 85, 85, 0.31);
    width: 100%;
    transition: border-color 300ms ease;
    padding-top: 0;

}

.card-info.new_card {
    margin-top: 6px;
    display: inline-block;
    width: 100%;
    overflow: hidden;
}

.story-points.new_card,
.expire-date.new_card {
    display: inline-block;
    width: 48%;
}

.story-points.new_card {
    float: right;
}

.expire-date.new_card {
    float: left;
}

.new_card_expire_date_input:hover,
.new_card_story_points_input:hover {
    border: 0;
    border-bottom: 1px solid rgba(43, 63, 119, 0.31);
    outline: none;
}

.new_card_story_points_input::placeholder {
    font-size: 9px;
    transition: opacity 300ms ease;
}

.new_card_story_points_input:focus::placeholder {
    opacity: 0;
}

.new_card_expire_date_input:focus,
.new_card_story_points_input:focus {
    outline: none;
    border-bottom: 1px solid rgba(43, 63, 119, 1);
}

.new_card_story_points_input {
    padding-bottom: 0;
    padding-top: 2px;
}

/*.story-points {*/
    /*margin-left: 10px;*/
    /*width: auto;*/
/*}*/

.new_card_button-set {
    display: inline-flex;
    margin: 10px auto 0 auto;
    height: fit-content;
    width: 100%;
}

.new_card_submit_button,
.close_new_card_form {
    justify-self: end;
    width: available;
    /*noinspection CssInvalidPropertyValue*/
    width: -webkit-fill-available;
    padding: 10px 50px;
    border: 1px solid rgba(36, 119, 65, 0.7);
    color: rgba(34, 34, 34, .85);
    background-color: transparent;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    font-size: 15px;
    outline: 0;
    border-radius: 1px;
}

.new_card_submit_button:hover,
.new_card_submit_button:focus {
    color: rgb(255, 255, 255);
    background-color: rgba(36, 119, 65, 0.7);
    outline: none;
}

.last_card {
    box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.2);
    border-top: 2px solid #FFF;
    border-bottom: none;
    border-radius: 0;
    margin: 0 0 0 0;
    /*overflow: hidden;*/
    height: fit-content;
    align-self: end;
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.54);
}

.last_card form.new_card_form div.new_card {
    border-bottom: 0;
}

.last_card:hover,
.last_card:focus-within {
    box-shadow: 0 -4px 15px rgba(0, 0, 0, 0.3);

}

.close_new_card_form {
    justify-self: start;
    width: auto;
    padding: 0px 10px;
    color: #ff3e5a;
    border: 1px solid #ff5c4e;
    margin-right: 0px;
    transition: 300ms ease-in-out;
}

.close_new_card_form:hover,
.close_new_card_form:focus {
    color: #FFF;
    background: #ff3e5a;
    outline: none;
}

.close_new_card_form i {
    font-size: 25px;
}