*{
    box-sizing: border-box;
    font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
}

.page_content {
    width: -webkit-fill-available;
    width: available;
    height: auto;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 90px;
    margin-bottom: 25px;
    padding: 10px;
    color: #FFFFFF;
    display: inline-flex;
}

.sticky-sidebar {
    display: grid;
    width: 300px;
    min-width: 250px;
    height: fit-content;
    margin: 5px;
    /*padding: 5px;*/
    border-radius: 3px;
    position: sticky;
    position: -webkit-sticky;
    top: 120px;
    /*background-color: rgba(34, 34, 34, 0.1);*/
    background-color: transparent;
}

.horizontal-scroll {
    width: auto;
    height: 100%;
    /*overflow-x: auto;*/
}

a:hover, a:visited, a:link, a:active {
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.11);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.4);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.7);
}