@import url(https://fonts.googleapis.com/css?family=Muli);

.tutorial-container {
  position: fixed;
  width: 400px;
  height: 130px;
  left: 6px;
  bottom: 80px;
  background-color: #F3F3F3;
  border-radius: 3px;
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.4);
}

.hidden {
    display: none;
}

.tutorial-container:before {
  content: '';
  position: absolute;
  left: 3px;
  bottom: -10.5px;
  border-style: solid;
  border-width: 12px 12px 0px 12px;
  border-color: rgba(243, 243, 243, 1) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
}

.tutorial-container h1 {
  font-size: 20px;
  font-weight: 100;
  color: #F3F3F3;
    padding: 20px;
    background: linear-gradient(155deg, #5a61ced6 40%, rgb(152, 126, 164) 100%);
    border-bottom: 3px solid #fff;
}
.tutorial-container a {
  text-decoration: none;
  color: #3476CA;
}

.tutorial-container a:hover {
  color: #6CB5F3;
}

.tutorial-container p {
  width: 350px;
  font-size: 9px;
  color: #a8aab2;
  font-weight: 400;
  line-height: 15px;
  float: left;
  margin: 0;
}

.close {
    cursor: pointer;
}

.close:before,
.close:after {
    content: "";
    position: absolute;
    height: 14px;
    width: 20px;
    top: 26px;
    right: 31px;
    border-top: 2px solid #F3F3F3;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.close:before {
    right: 40px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.btn {
    flex: 1;
    background-color: #6cb5f3;
    border: 0;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    border-bottom-right-radius: 6px;
    cursor: pointer;
    transition: all .3s;
}

.btn:hover {
  background-color: #6BA5D6;
  transition: all .3s;
}

.btn:active {
  background-color: #5F8AAF;
}

.slider-container {
  width: 350px;
  margin: 0 25px;
  overflow: hidden;
}
