{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>About Scrumello</title>
    <meta name="viewport">
{#    <link rel="stylesheet" href="/progetto_isw/progetto_isw/static/styles/about_style.css">#}
    <link rel="stylesheet" href="{% static 'styles/about_style.css' %}">
</head>
<body>
    <div class="page">
        <main class="content">
            <div class="content_inner">
                <div class="navigation">
                    <a href="#">👷</a>
                </div>
                <div class="site_name">
                    <h1>Welcome to Scrumello</h1>
                    <p>🚧 This site is currently under construction. Come back later! 🚧</p>
                </div>
            </div>
        </main>
    </div>
</body>
</html>