{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Mattia Frongia">
    <meta name="keywords" content="Scrumello about">
    <title>About Scrumello</title>
    <meta name="viewport">
{#    <link rel="stylesheet" href="/progetto_isw/progetto_isw/static/styles/about_style.css">#}
    <link rel="stylesheet" href="{% static 'styles/about_style.css' %}">
</head>
<body>
    <div class="page">
        <main class="content">
            <div class="content_inner">
                <div class="navigation">
                    <a href="{% url 'login_signup' %}" title="Workers are working very hard">👷 Alpha version</a>
                </div>
                <div class="site_name">
                    <h1>Welcome to Scrumello</h1>
                    <p>🚧 This site is currently under construction. Don't aspect any big feature for the moment 🚧</p>
                    <p>The team no. 13 is working on this project very hard.</p>
                    <p>Team no. 13 is formed by:<br> - Archer-0<br/> - Assandrino<br/> - Chox92<br/> - Gnagnom94</p>
                </div>
            </div>
        </main>
    </div>
</body>
</html>