{% load staticfiles %}
{% block board_creation_form_block %}
    <button class="big_button" title="Create a new board">
        <span class="button_text">Create Board</span>
    </button>
    <div class="form_popup hidden-popup">
        <h2 class="form_popup_title">Create Board</h2>
        <form class="form_popup_form prevent_submit_on_enter_press" action="{% url 'add_board' %}" method="POST">
            {% csrf_token %}
            <fieldset class="form_popup_fieldset">
                <div class="form_popup_field">
                    {{board_creation_form.board_name}}
                </div>
            </fieldset>
                <button class="cancel_button ">Cancel</button>
                <button id="create_board_button"
                        type="submit"
                        value="create_board"
                        name="submit"
                        class="form_popup_buttons-action">Create</button>
        </form>
    </div>
{% endblock %}