{% block toolbar_block %}

    <div class="toolbar-container">

        <div class="hambbutton">
            <a href="#">
                <span></span>
            </a>
        </div>

        <ul class="toolbar hidden">
            <li class="toolbar-item">
                <a href="#" title="Add a user to this board">Add user</a>
                <span class="add-user-baloon hidden"></span>
            </li>
            <li class="toolbar-item">
                <a href="#" title="See statistics about your this Board">Burndown</a>
            </li>
        </ul>
    </div>

    <script type="text/javascript">
    hamb = $('.hambbutton a');

    hamb.on('click', function(e) {
        e.preventDefault();
        $(this).toggleClass('animate');
        $('span').toggleClass('back');
        $('.toolbar').toggleClass('hidden');
        $('.toolbar-container').toggleClass('expanded');
    });

    {# quando si clicca un elemento della toolbox essa si chiude #}
    $('.toolbar-item').on('click', function (e) {
        e.preventDefault();
        e.preventDefault();
        $(this).toggleClass('animate');
        $('span').toggleClass('back');
        $('.toolbar').toggleClass('hidden');
        $('.toolbar-container').toggleClass('expanded');
    })
    </script>
{% endblock %}