{% load staticfiles %}
{% block toolbar_block %}

    <div class="toolbar-container">

        <div class="hambbutton">
            <a href="#">
                <span></span>
            </a>
        </div>

        <ul class="toolbar hidden">
            <li class="toolbar-item">
                <a href="{% url 'add_or_remove_user_to_board' board.id %}" title="Add or remove user from this Board.">Manage Users</a>
                <span class="add-user-baloon hidden"></span>
            </li>
            <li class="toolbar-item">
                <a href="{% url 'burndown' board.id %}" title="See statistics about your this Board.">Burndown</a>
            </li>
        </ul>
    </div>

    <script src="{% static 'scripts/jquery-3.3.1.js' %}"></script>
    <script src="{% static 'scripts/toolbar_script.js' %}"></script>
{% endblock %}