{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Board "{{ board.name }}"</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="author" content="Mattia Frongia">
    <meta name="keywords" content="Scrumello board {{ board.name }}">

    <script src="{% static 'scripts/jquery-3.3.1.js' %}"></script>
    <script src="{% static 'scripts/board_scripts.js' %}"></script>

    <link rel="stylesheet" href="{% static 'bootstrap-4.0.0-dist/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome-free-5.2.0-web/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'styles/pure_css_animated_background.css' %}">
    <link rel="stylesheet" href="{% static 'styles/board_toolbar_style.css' %}">
    <link rel="stylesheet" href="{% static 'styles/general_style.css' %}">
    <link rel="stylesheet" href="{% static 'styles/navbar_style.css' %}">
    <link rel="stylesheet" href="{% static 'styles/board_style.css' %}">
    <link rel="stylesheet" href="{% static 'styles/card_style.css' %}">


    {% if show_tutorial is True %}
        <link rel="stylesheet" href="{% static 'styles/tutorial_box_style.css' %}">
    {% endif %}

</head>

<body>
    {% include 'navbar.html' %}
    {% block navbar %}
    {% endblock %}

    {% if show_tutorial is True %}
        {% include 'toolbar_guide.html' %}
        {% block tutorial_box %}
        {% endblock %}
    {% endif %}

    <div class="toolbar-div">
        {% include 'board_toolbar.html' %}
        {% block toolbar_block %}
        {% endblock %}
    </div>
{#    commentov#}
    <main class="page_content horizontal-scroll">
        <ul class="columns">

            {% for column in columns %}

                <li class="column">
                    <div class="column-title-container">
                        <form class="prevent_submit_on_enter_press column_name_form hide_submit-button hide_delete-button hide_column_name_input" action="{% url 'modify_or_delete_column' column.id board.id %}" method="POST">
                            {% csrf_token %}
                            <h1 class="column-title" title="{{ column.name }}">{{ column.name }}</h1>
                            <a href="#" class="start_changes" onclick="show_button(this)" title="Modify the name of this column"><i class="far fa-edit"></i></a>
                            {% if column.n_cards > 0 %}
                                <p class="column_cards_count">{{ column.n_cards }}</p>
                            {% endif %}
                            <a href="#" class="discard_column_name_modifications" onclick="show_button(this)" title="Cancel and discard changes."><i class="fas fa-chevron-left"></i></a>
                            {{ column_name_modification_form.new_column_name }}
                            <button class="submit_changes" onclick="verify_text_inserted(event, this);" type="submit" value="change_column_name_request" name="submit">Submit Changes</button>
                            <button class="delete_column" onclick="open_delete_prompt(event, this);" type="submit" value="delete_column_request" name="submit">Delete Column</button>
                        </form>
                    </div>
                    <ul class="column-content">
                        {% if column.n_cards <= 0 %}

                            <li class="no_card_text">
                                <p>No cards in this column yet.<br>To create one, just click on the input field below!<br><i class="far fa-hand-point-down"></i></p>
                            </li>

                        {% else %}

                            {% for card in cards %}

                                {% if card.mother_column == column %}

                                    <li class="card-container">
                                        <div class="card-title-container">
                                            <form class="prevent_submit_on_enter_press card_modification_form" action="{% url 'modify_or_delete_card' card.id board.id%}" method="POST">
                                                {% csrf_token %}
                                                <h1 class="card-title" title="{{ card.title }}">{{ card.title }}
                                                    <span>
                                                        <button class="start_card_changes" type="submit" value="modify_card_request" name="submit" title="Modify this Card"><i class="far fa-edit"></i></button>
                                                    </span>
                                                </h1>
                                                <div class="card_buttons">
                                                    <button class="delete_card" type="submit" value="delete_card_request" name="submit" title="Delete this Card"><i class="far fa-trash-alt"></i></button>
{#                                                    <p>{{ card.users }}</p>#}
                                                </div>
                                            </form>
                                        </div>
                                        <div class="card-content">
                                            <h5 class="card-description">{{ card.description }}</h5>
                                            <div class="card-info">
                                                <p class="expire-date">Expire Date: <span>{{ card.expire_date }}</span></p>
                                                <p class="story-points">Story Points: <span>{{ card.story_points }}</span></p>
                                            </div>
                                        </div>
                                    </li>

                                {% endif %}

                            {% endfor %}

                        {% endif %}
                    </ul>
                    <div class="card-container last_card">
                        <form class="new_card_form compressed" method="post" action="{% url 'add_card' board.id column.id %}">
                            <div class="card-title-container new_card">
                                {% csrf_token %}
{#                                    <input hidden type="text" name="current_column_id" value="{{ column.id }}" title="card ID"/>#}
{#                                    {{ new_card_form.current_column }}#}
                                {{ new_card_form.new_card_title }}
                            </div>
                            <div class="card-content new_card hidden">
                                {{ new_card_form.new_card_description }}
                                <div class="card-info new_card">
                                    <label class="expire-date new_card" for="card_expire_date">Expire Date:
                                        <span>
                                            {{ new_card_form.new_card_expire_date }}
                                        </span>
                                    </label>
                                    <label class="story-points new_card" for="card_story_points">Story Points:
                                        <span>
                                            {{ new_card_form.new_card_story_points }}
                                        </span>
                                    </label>
                                </div>
                                <div class="new_card_button-set">
                                    <button class="close_new_card_form" title="Close form"><i class="fas fa-times"></i></button>
                                    <button class="new_card_submit_button" type="submit"
                                            value="new_card_create_request" name="submit" title="Create the new card in this column">Create Card</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </li>

            {% endfor %}

            {% comment %} fine foreach colonne{% endcomment %}
            <li class="column column_creation">
                <div class="column-title-container">
                        <form class="column_name_form hide_submit-button" action="{% url 'add_column' board.id %}" method="POST">
                            {% csrf_token %}
                            {{ new_column_form.column_name }}
                            <button class="submit_changes" type="submit" value="new_column_create_request" name="submit">Create Column</button>
                        </form>
                    </div>
            </li>
        </ul>
    </main>

    <script src="{% static 'scripts/board_scripts.js' %}"></script>

</body>
</html>