{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ user.username }}'s Scrumello Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="author" content="Mattia Frongia">
    <meta name="keywords" content="Scrumello dashboard homepage personal-dashboard">
    <!-- bootstrap library -->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <!-- personal styles -->
    <link rel="stylesheet" href="{% static 'styles/general_style.css' %}">
    <link rel="stylesheet" href="{% static 'styles/navbar_style.css' %}">
    <link rel="stylesheet" href="{% static 'styles/pure_css_animated_background.css' %}">
    <link rel="stylesheet" href="{% static 'styles/board_creation_form_style.css' %}">
    <link rel="stylesheet" href="{% static 'styles/tutorial_box_style.css' %}">

</head>
<body>
{#    <header>#}
        {% include 'navbar.html' %}
        {% block navbar %}
        {% endblock %}
{#    </header>#}

{#    {% if new_user is True %}#}
{#        {% include 'toolbar_guide.html' %}#}
{#        {% block tutorial_box %}#}
{#        {% endblock %}#}
{#    {% endif %}#}

{#    <div class="toolbar-div">#}
{#        {% include 'board_toolbar.html' %}#}
{#        {% block toolbar_block %}#}
{#        {% endblock %}#}
{#    </div>#}

    <main class="page_content">
        <div class="sticky-sidebar">
            {% include 'board_creation_form.html' %}
            {% block board_creation_form_block %}
            {% endblock %}
        </div>

        <div class="board_list">
            <h1 class="board_list_title">
                Your Boards
            </h1>
            {% for board in boards %}
                <p>{{ board.name }}</p>
            {% endfor %}

            {% comment %}<p>{{ message }}</p>
            <p>{{ message }}</p>
            <p>{{ message }}</p>
            <p>{{ message }}</p>
            <p>{{ message }}</p>
            <p>{{ message }}</p>
            <p>{{ message }}</p>
            <p>{{ message }}</p>
            <p>{{ message }}</p>
            <p>{{ message }}</p>
            <p>{{ message }}</p>
            <p>{{ message }}</p>
            <p>{{ message }}</p>
            <p>{{ message }}</p>
            <p>{{ message }}</p>
            <p>{{ message }}</p>
            <p>{{ message }}</p>
            <p>{{ message }}</p>
            <p>{{ message }}</p>
            <p>{{ message }}</p>
            <p>{{ message }}</p>
            <p>{{ message }}</p>
            <p>{{ message }}</p>
            <p>{{ message }}</p>
            <p>{{ message }}</p>
            <p>{{ message }}</p>
            <p>{{ message }}</p>
            <p>{{ message }}</p>
            <p>{{ message }}</p>
            <p>{{ message }}</p>
            <p>{{ message }}</p>
            <p>{{ message }}</p>
            <p>{{ message }}</p>
            <p>{{ message }}</p>
            <p>{{ message }}</p>
            <p>{{ message }}</p>
            <p>{{ message }}</p>
            <p>{{ message }}</p>
            <p>{{ message }}</p>
            <p>{{ message }}</p>
            <p>{{ message }}</p>
            <p>{{ message }}</p>
            <p>{{ message }}</p>
            <p>{{ message }}</p>
            <p>{{ message }}</p>
            <p>{{ message }}</p>
            <p>{{ message }}</p>
            <p>{{ message }}</p>
            <p>{{ message }}</p>
            <p>{{ message }}</p>
            <p>{{ message }}</p>
            <p>{{ message }}</p>
            <p>{{ message }}</p>
            <p>{{ message }}</p>
            <p>{{ message }}</p>
            <p>{{ message }}</p>
            <p>{{ message }}</p>
            <p>{{ message }}</p>
            <p>{{ message }}</p>
            <p>{{ message }}</p>
            <p>{{ message }}</p>
            <p>{{ message }}</p>
            <p>{{ message }}</p>
            <p>{{ message }}</p>
            <p>{{ message }}</p>
            <p>{{ message }}</p>
            <p>{{ message }}</p>
            <p>{{ message }}</p>
            <p>{{ message }}</p>
            <p>{{ message }}</p>
            <p>{{ message }}</p>
            <p>{{ message }}</p>
            <p>{{ message }}</p>
            <p>{{ message }}</p>
            <p>{{ message }}</p>
            <p>{{ message }}</p>
            <p>{{ message }}</p>
            <p>{{ message }}</p>
            <p>{{ message }}</p>
            <p>{{ message }}</p>
            <p>{{ message }}</p>
            <p>{{ message }}</p>
            <p>{{ message }}</p>
            <p>{{ message }}</p>
            <p>{{ message }}</p>
            <p>{{ message }}</p>
            <p>{{ message }}</p>
            <p>{{ message }}</p>{% endcomment %}
        </div>
    </main>

</body>
</html>