{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ user.username }}'s Scrumello Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="author" content="Mattia Frongia">
    <meta name="keywords" content="Scrumello dashboard homepage personal-dashboard">
    <!-- bootstrap library -->
    <link rel="stylesheet" href="{% static 'bootstrap-4.0.0-dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome-free-5.2.0-web/css/all.css' %}">
    <!-- personal styles -->
    <link rel="stylesheet" href="{% static 'styles/general_style.css' %}">
    <link rel="stylesheet" href="{% static 'styles/navbar_style.css' %}">
    <link rel="stylesheet" href="{% static 'styles/pure_css_animated_background.css' %}">
    <link rel="stylesheet" href="{% static 'styles/board_creation_form_style.css' %}">
    <link rel="stylesheet" href="{% static 'styles/dashboard_style.css' %}">

    <script src="{% static 'scripts/jquery-3.3.1.js' %}"></script>
    <script src="{% static 'scripts/dashboard_scripts.js' %}"></script>
</head>
<body>
        {% include 'navbar.html' %}
        {% block navbar %}
        {% endblock %}

    <main class="page_content">
        <div class="sticky-sidebar">
            {% include 'board_creation_form.html' %}
            {% block board_creation_form_block %}
            {% endblock %}
        </div>

        <div class="board_list_container">
            {% if boards.exists and boards.count > 0 %}
                <h1 class="board_list_title">Your Boards</h1>
                <ul class="board_list">
                    {% for board in boards %}
                        <li class="board_item">
                            <a href="/board/{{ board.id }}/" class="board_thumb" title="Open board &quot;{{ board.name }}&quot; ">
                                <h3 class="board_name">{{ board.name }}</h3>
                                <div class="board_info">
                                    <i class="fas fa-user-friends icon_white"><span class="board_details_text">{{ board.n_users }} users</span></i>
                                    <i class="far fa-window-restore icon_white"><span class="board_details_text">{{ board.n_columns }} columns</span> </i>
                                    <i class="fas fa-window-restore icon_white"><span class="board_details_text">{{ board.n_cards }} cards</span> </i>
                                </div>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <h1 class="board_list_title">You have no boards yet!</h1>
            {% endif %}
        </div>
    </main>

</body>
</html>