{% block login_form_block %}
    <h2 class="forms_title">Login</h2>
    <form class="forms_form" action="" method="post">
        {% csrf_token %}
        <fieldset class="forms_fieldset">
            <div class="forms_field">
                {{login_form.login_username}}
            </div>
            <div class="forms_field">
                {{login_form.login_password}}
            </div>
        </fieldset>
        <div class="forms_buttons">
            {% if login_error_message %}
            <p class="forms_error_messages error_active">{{ login_error_message }}</p>
            {% else %}
            <p class="forms_error_messages"></p>
            {% endif %}
            <button type="submit" value="log_in" name="submit" class="forms_buttons-action">Log in</button>
        </div>
    </form>
{% endblock %}