{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="author" content="Mattia Frongia">
    <meta name="keywords" content="Scrumello login signup welcome">
    <title>Welcome to Scrumello</title>

    <link rel="stylesheet" href="{% static 'bootstrap-4.0.0-dist/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome-free-5.2.0-web/css/all.min.css' %}">

    <!-- personal styles -->
    <link rel="stylesheet" href="{% static 'styles/pure_css_animated_background.css' %}">
    <link rel="stylesheet" href="{% static 'styles/login_signup_style.css' %}">

</head>

<body>
    <section class="user">
        <div class="site_name">
            <h1>Welcome to <span class="site_name_word">Scrumello</span></h1>
            <p>Scrumello is the best way to organize your team. Join us, we have <span class="very_special_funny_super_pro_rgb_word">{{welcomeText}}</span></p>
        </div>
        <div class="user_options-container">
            <div class="user_options-text">
                <div class="user_options-unregistered">
                    <h2 class="user_unregistered-title">Don't have an account?</h2>
                    <p class="user_unregistered-text">You can resolve that problem in 1 minute. Just click the button below 👇</p>
                    <button class="user_unregistered-signup" id="signup-button">Sign up</button>
                </div>

                <div class="user_options-registered">
                    <h2 class="user_registered-title">Have an account?</h2>
                    <p class="user_registered-text">Do not worry, we kept everything neat and tidy while you were away 😉</p>
                    <button class="user_registered-login" id="login-button">Login</button>
                </div>
            </div>

            <div class="user_options-forms {{ form_class }}" id="user_options-forms">
                <div class="user_forms-login">

                    {% include 'login_form.html' %}
                    {% block login_form_block %}
                    {% endblock %}
                </div>

                <div class="user_forms-signup">

                    {% include 'signup_form.html' %}
                    {% block signup_form_block %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </section>
    <div class="footer">
        <p>For a better visual experience try installing font <span><a target="_blank" href="https://fonts.google.com/specimen/Roboto">Roboto</a></span> by Google&copy;</p>
        <h2>A website by <span><a href="{% url 'about' %}" title="About us">Team no. 13&copy;</a></span></h2>
    </div>

    <script src="{% static 'scripts/jquery-3.3.1.js' %}"></script>
    <script src="{% static 'scripts/popper-1.14.4.js' %}"></script>
    <script src="{% static 'bootstrap-4.0.0-dist/js/bootstrap.min.js' %}"></script>

    <script type="text/javascript">
        // Variables
        var signupButton = document.getElementById('signup-button'),
            loginButton = document.getElementById('login-button'),
            userForms = document.getElementById('user_options-forms');

        // Add event listener to the "Sign Up" button
        signupButton.addEventListener('click', () => {
            userForms.classList.remove('login-click');
            userForms.classList.add('signup-click');
        }, false);

        // Add event listener to the "Login" button
        loginButton.addEventListener('click', () => {
            userForms.classList.remove('signup-click');
            userForms.classList.add('login-click');
        }, false);
    </script>
</body>
</html>