{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="author" content="Mattia Frongia">
    <meta name="keywords" content="Scrumello login signup welcome">
    <title>Welcome to Scrumello</title>
    <!-- bootstrap library -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <!-- personal styles -->
    <link rel="stylesheet" href="{% static 'styles/login_signup_style.css' %}">
    <link rel="stylesheet" href="{% static 'styles/pure_css_animated_background.css' %}">

    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>
    <section class="user">
        <div class="user_options-container">
            <div class="site_name">
                <h1>Welcome to Scrumello</h1>
                <p>Scrumello is the best way to organize your team. Join us, we have {{welcomeText}}</p>
            </div>
            <div class="user_options-text">
                <div class="user_options-unregistered">
                    <h2 class="user_unregistered-title">Don't have an account?</h2>
                    <p class="user_unregistered-text">You can resolve that problem in 1 minute. Just click the button below 👇</p>
                    <button class="user_unregistered-signup" id="signup-button">Sign up</button>
                </div>

                <div class="user_options-registered">
                    <h2 class="user_registered-title">Have an account?</h2>
                    <p class="user_registered-text">Do not worry, we kept everything neat and tidy while you were away 😉</p>
                    <button class="user_registered-login" id="login-button">Login</button>
                </div>
            </div>

            <div class="user_options-forms {{ form_class }}" id="user_options-forms">
                <div class="user_forms-login">

                    {% include 'login_form.html' %}
                    {% block login_form_block %}
                    {% endblock %}
                </div>

                <div class="user_forms-signup">

                    {% include 'signup_form.html' %}
                    {% block signup_form_block %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </section>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <script type="text/javascript">
        // Variables
        var signupButton = document.getElementById('signup-button'),
            loginButton = document.getElementById('login-button'),
            userForms = document.getElementById('user_options-forms')

        // Add event listener to the "Sign Up" button
        signupButton.addEventListener('click', () => {
            userForms.classList.remove('login-click')
            userForms.classList.add('signup-click')
        }, false);

        // Add event listener to the "Login" button
        loginButton.addEventListener('click', () => {
            userForms.classList.remove('signup-click')
            userForms.classList.add('login-click')
        }, false);
    </script>
</body>
</html>