{% load staticfiles %}
{% block navbar %}
    <header>
        <div class="navbar">
            <div class="logo">
                <a href="{% url 'dashboard' %}">
                    <h1>Scrumello</h1>
                </a>
            </div>

            <ul class="nav">
                <li class="item"><a href="{% url 'about' %}">About</a></li>
                <li class="item"><a href="{% url 'logout' %}">logout</a></li>
                <li class="item">
                    <a href="#" class="profile">
                        <img src="{% static 'assets/default_propic.jpg' %}"
                             height="30"
                             width="30">
                        {{ user.username }}
                    </a>
                </li>
            </ul>
        </div>
    </header>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <script type="text/javascript" >
        $(document).ready(function() {
            var wasScrolled = false;

            window.scrollTo(0, 0);

            $(window).on('scroll', function() {
                {# quando si raggiunge il valore indicato di scroll la nav bar si contrae #}
                if (Math.round($(window).scrollTop()) > 50) {
                    $('.navbar').addClass('scrolled');
                    wasScrolled = true;
                }
                {# la nav bar torna grande solo quando si torna in testa alla pagina#}
                if (Math.round($(window).scrollTop()) <= 1) {
                    $('.navbar').removeClass('scrolled');
                    if (wasScrolled === true) {
                            window.scrollTo(0, 0);
                            wasScrolled = false;
                    }
                }
            });
        });
    </script>
{% endblock %}