{% load staticfiles %}
{% block navbar %}
    <header>
        <div class="navbar">
            <div class="logo">
                <a href="{% url 'dashboard' %}" title="Go to your Dashboard">
                    <h1>Scrumello</h1>
                </a>
            </div>

            <ul class="nav">
                <li class="item"><a href="{% url 'about' %}">About</a></li>
                <li class="item"><a href="{% url 'logout' %}">logout</a></li>
                <li class="item">
                    <a href="#" class="profile">
                        <img src="{% static 'assets/default_propic.jpg' %}"
                             height="30"
                             width="30">
                        {{ user.username }}
                    </a>
                </li>
            </ul>
        </div>
    </header>

    <script src="{% static 'scripts/jquery-3.3.1.js' %}"></script>
    <script src="{% static 'scripts/popper-1.14.4.js' %}"></script>
    <script src="{% static 'bootstrap-4.0.0-dist/js/bootstrap.min.js' %}"></script>

    <script type="text/javascript" >
        $(document).ready(function() {
            var wasScrolled = false;

            window.scrollTo(0, 0);

            $(window).on('scroll', function() {
                {# quando si raggiunge il valore indicato di scroll la nav bar si contrae #}
                if (Math.round($(window).scrollTop()) > 50) {
                    $('.navbar').addClass('scrolled');
                    wasScrolled = true;
                }
                {# la nav bar torna grande solo quando si torna in testa alla pagina#}
                if (Math.round($(window).scrollTop()) <= 1) {
                    $('.navbar').removeClass('scrolled');
                    if (wasScrolled === true) {
                            window.scrollTo(0, 0);
                            wasScrolled = false;
                    }
                }
            });
        });
    </script>
{% endblock %}