{% load staticfiles %}
{% block tutorial_box %}
    <div class="tutorial-container">
        <h1>Toolbar Tutorial</h1>
        <span class="close"></span>

        <div class="slider-container">
            <div class="slider-turn">
                <p>
                    Hi {{ user.username }}, this is the new toolbar. To be able to use it just press the hamburger icon. It's easy, isn't it?
                    <br/>To close this dialog just click the "X".
                </p>
            </div>
        </div>
    </div>

    <script src="{% static 'scripts/jquery-3.3.1.js' %}"></script>
    <script src="{% static 'scripts/popper-1.14.4.js' %}"></script>
    <script src="{% static 'bootstrap-4.0.0-dist/js/bootstrap.min.js' %}"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('body').on('click', '.close', function () {
                $('.tutorial-container').addClass('hidden');
            });
        });
    </script>
{% endblock %}