{% block tutorial_box %}
    <div class="tutorial-container">
        <h1>Toolbar Tutorial</h1>
        <span class="close"></span>

        <div class="slider-container">
            <div class="slider-turn">
                <p>
                    Hi {{ user.username }}, this is the new toolbar. To be able to use it just press the hamburger icon. It's easy, isn't it?
                    <br/>To close this dialog just click the "X".
                </p>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('body').on('click', '.close', function () {
                $('.tutorial-container').addClass('hidden');
            });
        });
    </script>
{% endblock %}